* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  margin-top: 100px;
}

.fluid-card {
  display: flex;
  flex-wrap: wrap;
}

.fluid-card .name {
  flex: 1 0 8rem;
}

.fluid-card .email {
  flex: 1 0 8rem;
}

.fluid-card .submit {
  flex: 1 0 4rem;
}

.name,
.email {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

.submit {
  padding: 10px;
  margin: 5px;
  background-color: #487de7;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

input:focus,
button:focus {
  outline: none;
}
